.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  background-attachment: fixed;
}

.app-main {
  flex: 1;
  padding: 0 1rem 2rem 1rem;
}


@media (max-width: 640px) {
  .app-main {
    padding: 0 0.5rem 1rem 0.5rem;
  }
}
